.success-page i {
    font-size: 2rem;
    color: green;
}
.success-page label {
    font-family: 'Lato';
    letter-spacing: 1.0px;
}
.success-page .fa-times-circle {
    font-size: 2rem;
    color: red;
}