.bookings .tabs .nav.nav-tabs li.nav-item {
    width: 15%;
    text-align: center;
}
.bookings .tabs .btn-actions .btn {
    padding: .375rem .75rem;
}
.table-action {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #adb5bd;
}
.btn-actions .table-action-view {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #11cdef !important;
}
.btn-actions .table-action-edit {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #30a0a2 !important;
}
.btn-actions .table-action-cancel {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #f6465c !important;
}
.btn-actions .table-action-review {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #e67645 !important;
}
.btn-actions .table-action-book {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #035e8b !important;
}
.btn-actions .table-action-review i.fas.fa-star {
    font-size: 13px;
}
.radio-inline .radio-btn {
    width:20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.card-title-route {
    color: #79797b;
}
#section1 {padding-top:50px;height:500px; background-color: #ffffff; overflow-y: scroll;}
#section2 {padding-top:50px;height:500px; background-color: #ffffff; overflow-y: scroll;}
#section3 {padding-top:50px;height:500px; background-color: #ffffff; overflow-y: scroll;}
.navbar-scroll-id .container ul {
    display: inline-block;
}
.navbar-scroll-id .container ul li {
    padding: 1rem;
}

.list-group-item-one .each-row {
    border-bottom: 0.5px solid #e4e6ea;
}