
.SpUsersList ul.dropdown-menu li {
    /* background: #248b9b; */
    /* margin: 2px; */
    justify-content: center;
    display: block;
    border-bottom: 1px solid #cccccc75;
    margin-bottom: 2px;
    position: relative;
    padding-left: 30px;
}

.SpUsersList input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 17px;
    height: 19px;
    position: absolute;
    top: 2px;
    left: 6px;
}