ul.dropdown-menu li {
  /* background: #248b9b; */
  /* margin: 2px; */
  justify-content: center;
  display: block;
}
.both-list-view.Guests-drop .dropdown-menu {
    min-width: 0rem;
    justify-content: center;
    padding-left:35px;
    padding-right: 35px;
    text-align: 'center';
    /* padding-left: 30px; */
}
.both-list-view.Guests-drop  .btn-default {
    color: #248b9b;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.both-list-view.Guests-dr .btn-default:not(:disabled):not(.disabled).active, 
.both-list-view.Guests-dr .btn-default:not(:disabled):not(.disabled):active, 
.both-list-view.Guests-dr .dropdown.show .btn-default.dropdown-toggle,
.both-list-view.Guests-drop .btn-default:not(:disabled):not(.disabled):active, {
    color: #025d8c;
    border-color: #ffffff !important;
    background-color: #ffffff !important;
}
.both-list-view.Guests-dr .btn-default:not(:disabled):not(.disabled).active, 
.both-list-view.Guests-dr .btn-default:not(:disabled):not(.disabled):active, 
.both-list-view.Guests-dr .dropdown.show .btn-default.dropdown-toggle,
.both-list-view.Guests-drop .btn-default:not(:disabled):not(.disabled):active,
 {
    color: #025d8c;
    border-color: #ffffff !important;
    background-color: #ffffff !important;
}
.btn-default:not(:disabled):not(.disabled):active,
.show>.btn-default.dropdown-toggle {
    background-color: #ffffff !important;
    color: #025d8c !important;
    border-color: #ffffff !important;
}
/* hotelList Filters css */

/* .list-unstyled {
    display: inline-grid;
} */
.search-bar .navbar {
    padding:0px;
}
.search-bar .navbar-horizontal{
    position: relative;
    background: transparent !important;
}
.search-bar .navbar-horizontal.navbar-transparent .navbar-toggler {
    background: #248b9b;
}
.filterbar.navbar-dark .navbar-nav .nav-link {
    color:black !important;
    text-transform: capitalize !important;
}
.filterbar.navbar-dark .search-item.filterDates {
    display: flex;
}
.filterbar.navbar-dark .search-item.filterDates i.fas.fa-long-arrow-alt-right{
    color: black;
}
.filterbar.navbar-dark .selectpicker.guests {
    background: transparent;
    color: black;
    border: 0px;
    outline-color: transparent;
}
.mega-filter-dropdown .dropdown-menu.mega-menu  {
    left: -26rem;
    top: 4rem;
    width: 73vw;
    height: 75vh;
    overflow: scroll;
}
.filter-icon i.fa.fa-filter {
    font-size: 18px;
}
.filter-more .more-trigger {
    justify-content: flex-start;
}
.filter-tab-location-view .form-control,
.filter-tab-pricing-view,
.filter-tab-guests-view.guests,
.filter-tab-filter-view .filter-btn,
.filter-tab-sorting-view .sorting-btn,
.filter-tab-dates-view {
    background: #fafafa;
    border: 1px solid #d4d4d4;
    box-shadow: inset 1px 1px 0 0 #f2f2f2, inset 0 -1px 0 0 #f2f2f2;
    border-radius: 3px;
    height: calc(1em + 1rem + 2px);
    color: #262626;
    padding: .375rem .75rem;
    color: #6D6D6D;
}
.filter-btn {
    padding: 9px 20px 10px 20px !important;
}
.guests-picker {
    background: #fafafa !important;
    border: 1px solid #d4d4d4;
    box-shadow: inset 1px 1px 0 0 #f2f2f2, inset 0 -1px 0 0 #f2f2f2;
    border-radius: 3px;
    height: calc(1.5em + 1rem + 2px) !important;
    padding: 0.6rem;
    color: #6D6D6D;
}
.sorting-picker {
    background: #fafafa !important;
   border: 1px solid #d4d4d4;
   box-shadow: inset 1px 1px 0 0 #f2f2f2, inset 0 -1px 0 0 #f2f2f2;
   border-radius: 3px;
   height: calc(1.5em + 1rem + 2px) !important;
   padding: .375rem .75rem;
   color: #6D6D6D;
}
.filter-tab-dates-view .fltp {
    /* top: 6px; */
}
.filter-tab-dates-view .fltp input[type=text] {
    color: #6D6D6D;
    font-size: 13px;
    font-weight: 600;
}
/* modal - filter */
.modal-close {
    justify-content: flex-end;
}
.modal-close a i{
    font-size: 1.5rem;
    color: #ef543b;
}
/* .ReactModal__Content.ReactModal__Content--after-open {
    padding: 10px 30px 10px 30px !important;
    font-family: 'Lato', sans-serif !important
} */

.filters-page {
    font-family: 'Lato', sans-serif !important
}
.modal-btns {
    justify-content: flex-end;  
}
.modal-btns .btn-danger {
    background: #EAEAEA;
    border: 1px solid transparent;
    color:rgba(0, 0, 0, .4);
}
.modal-btns .btn-success {
    background: #2f9fa0;
    border: 1px solid transparent;
}
#hotel-list-sticky-filter .InputFromTo .DayPickerInput-Overlay {
    width: 580px;
    z-index:9999;
    position: absolute;
}
#hotel-list-sticky-filter .input-label-absolute-right label {
    font-size: 13px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
}
#hotel-list-sticky-filter .InputFromTo .DayPickerInput input {
    padding: 0px 0px 0px 0px;
}
.page-header-filter.w-100 .search-bar {
    box-shadow: none;
}
  /* filter guests css */
.filter-section .overlay-filter-guest-dropdown {
    position: absolute;
    left: 46% !important;
    top: 17% !important;
    z-index: 99;
}
.filter-section .filter-guest-dropdown-div {
    width: 300px;
    height: auto;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #ddddde;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.1);
}
.btn-guest-filter {
    background: #fafafa !important;
    border: 1px solid #d4d4d4;
    box-shadow: inset 1px 1px 0 0 #f2f2f2, inset 0 -1px 0 0 #f2f2f2;
    border-radius: 3px;
    height: calc(1.5em + 1rem + 2px) !important;
    padding: .375rem .75rem;
    color: #6D6D6D;
}
.filters-page .overlay-filter-search-bg {
    position: absolute;
    top: 106px;
    left: 15px;
    z-index: 999;
}
.filters-page .search-bg-div-filter {
    width: 400px;
    height: auto;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #ddddde;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.1);
}
/* filters circle css */
.circle-class {
    border-radius: 50%;
    padding: 11px !important;
    background-color: transparent !important;
    border:1px solid grey;
    width: 35px;
    height: 35px;
}
.fontStyle {
    font-family: 'Montserrat', sans-serif;
}
.filters-page .react-datepicker-wrapper .react-datepicker__input-container input {
    width: 105px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    font-size: .875rem;
    height: calc(1em + 1rem + 0px);
    padding-left: 1px;
    border: 0px;
}
.guest-label {
    font-size: 15px;
    color: #6d6d6d;
}
/* modal filter css */
.modal-filter p {
    color: #555555;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.btn-text-white {
    font-weight: 700 !important;
    color: white !important;
    text-transform: capitalize !important;
    font-family: 'Montserrat', sans-serif;
}