@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
#hotel-list-page-1, .fontStyle {
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
}
.warning {
    color: red;
}
.navbar-collapse {
    flex-grow: unset
}
.enduser-nav-right.bg-light {
    /* background-color: #ced4da!important; */
    background-image: linear-gradient(to right, #01a4a2, #025d8c) !important;
}
.jumbotron {
    margin-bottom: 1rem !important;
    /* padding: 2rem 1rem; */
    border-radius: 0rem !important;
    background-image: linear-gradient(to right, #01a4a2, #025d8c) !important;
}
.album.py-5.bg-light {
    background-color: #e6eaed!important;
}
.navbar-expand-md.navbar-collapse.right-menu {
   
    display: inline!important;
     flex-basis: auto;
}
.enduser-nav-right .nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #1f1f1f!important;
    font-size: 14px;
}
.enduser-nav-right.navbar-dark .navbar-nav .nav-link {
    color: #ffffff!important;
    font-size: 14px;
}
.enduser-nav-right .navbar-nav .active>.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #ffffff !important;
    font-size: 14px;
}
.navbar-collapse {
    flex-grow: inherit !important;
}
.logo img {
    width: auto;
    height: 100%;
    vertical-align: top;
    border: 0;
}
/* i.icon, i.fas {
    font-size: 20px;
} */
.more-trigger {
    font-weight: 700;
    font-size: .813em;
    height: 22px;
    line-height: 22px;
    bottom: 5px;
    left: 0;
    transition: color .3s ease-out;
    color: #F0114C;
    flex-direction: row;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
}
.more-trigger i.fas {
    font-size: 15px;
}
/* ======================== hotelsList body ============================= */
.text-muted {
    color: #8898aa!important
}
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
@media (min-width: 576px)
{
    .jumbotron {
        padding: 1.5rem 1.5rem !important;
    }
    .filter-card.card {
        margin-bottom: 0px !important;
        border: 0;
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    }
}

.filter-card.card {
    margin-bottom: 10px !important;
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}
.jumbotron.hotel-list-search-fields .filter-card .card-body {
    padding: 0.5rem !important;
}


/* ====================================== */
.room-wrapper {
    position: relative;
}

.room-inner {
    position: relative;
}
.both-list .room {
    margin-bottom: 20px !important;
    margin-right: 40px !important;
}
.room {
    position: relative;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin-right: 50px;
    margin-bottom: 50px;
}
.room figure {
    margin: 0;
    position: relative;
}
figure {
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.room figure img {
    position: relative;
    width: 100%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* .room figure figcaption {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 10%;
    padding: 0 50px 0 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;
} */
.hotels-page-hotel-list .room figure figcaption {
    position: absolute;
    left: 20px;
    width: 100%;
    bottom: 2%;
    padding: 0 10px 0 0px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;
}

/* article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
} */
.room figure figcaption .txt1 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.room figure figcaption .txt2 {
    font-size: 10px;
}
.hotels-page-hotel-list .both-list .room .caption {
    padding: 10px 30px 10px 20px;
}
.both-list .room .caption .txt1 {
    font-size: 16px;
font-family: 'Lato', sans-serif;
    color: #01a4a2;
}
.room .caption {
    padding: 30px 50px 30px 50px;
}
.room .caption .txt1 {
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    color: #01a4a2;
}
.room .caption .txt2 {
    font-size: 9px;
    color: #999;
    padding-bottom: 8px;
}
.small-stars .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 9px;
    /* text-rendering: auto; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.room .caption .txt3 {
    font-size: 13px;
    color: #7e7e7e;
    padding-bottom: 15px;
    font-family: "Lato", sans-serif;
}
.room .caption .txt4 {
}
.room .caption .txt4 a {
    text-decoration: underline;
    display: inline-block;
    position: relative;
    font-size: 12px;
    color: #019fa0;
    font-weight: 600;
    transition: all 0.3s ease-out;
}
.room .caption .txt4 a i {
    font-size: 16px;
    padding-left: 18px;
    vertical-align: middle;
}
.hotels-page-hotel-list .room-price {
    background: #025d8c;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 2px;
}
.room-price .txt1 {
    font-size: 20px;
}
.room-price .txt1 span {
    font-weight: 600;
font-family: 'Lato', sans-serif;
}
.room-price .txt2 {
    font-size: 9px;
}
.room .select-txt {
    position: relative;
}
.room .select-txt a {
    display: block;
    text-decoration: underline;
    padding: 15px 60px 15px 50px;
    background: #019fa0;
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease-out;
}
.hotels-page-hotel-list .both-list .room .select-txt a {
    display: block;
    text-decoration: underline;
    padding: 10px 40px 10px 20px;
    background: #019fa0;
    color: #fff;
    font-size: 13px;
    transition: all 0.3s ease-out;
}
.room .select-txt a span {
    display: inline-block;
    position: relative;
    padding-right: 30px;
}
.hotels-page-hotel-list .room .select-txt a i {
    position: absolute;
    top: 3px;
    right: 0;
    transition: all 0.3s ease-out;
}
.small-stars {
    display: inline-block;
    color: #feb200;
    padding-left: 10px;
}
.no-rating .dv-star-rating-star.dv-star-rating-full-star {
    display: inline-block;
    color: lightgrey !important;
    padding-left: 0px;
}
.room .room-icons {
    /* position: absolute; */
    width: 75px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    right: -38px;
    bottom: 0;
    text-align: center;
}
.room-ic {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    text-transform: uppercase;
    color: #999999;
    font-size: 9px;
    line-height: 1.2;
    padding: 17px 2px;
}
.hotels-page-hotel-list .both-list .room-ic {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    text-transform: uppercase;
    color: #999999;
    font-size: 9px;
    line-height: 1.2;
    padding: 8px 2px;
}
.room-ic.room-ic-wifi i {
    font-size: 25px;
}
.room-ic i {
    color: #555555;
    padding-bottom: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    /* font-size: inherit; */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-wifi:before {
    content: "\f1eb";
}
/* =================== map-view part styles ===================== */
@media only screen and (min-width: 992px){
    .switch-view-controller {
        left: 13%;
    }
}
.hotels-page-hotel-list .switch-view-controller {
    position: fixed;
    bottom: 40px;
    z-index: 98;
    height: 40px;
    background: #025c8b;
    border-radius: 20px;
    border: 1px solid  #025c8b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    padding: 0 10px;
    list-style: none;
    -webkit-transition: left .15s ease-in;
    -moz-transition: left .15s ease-in;
    -o-transition: left .15s ease-in;
    -ms-transition: left .15s ease-in;
    transition: left .15s ease-in;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transform: translateX(-50%);
}
.hotels-page-hotel-list .switch-view-controller>.item {
    padding: 0 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    border-right: 1px solid rgba(38, 38, 38, .1);
    color: #ffffff;
}
.hotels-page-hotel-list .switch-view-controller>.item>.fas, .hotels-page-hotel-list .switch-view-controller>.item>.far {
        opacity: 1;
        margin: 0 .25rem 0 0;
        width: auto;
        height: 1em;
        font-size: 16px;
        color:#ffffff;
}
.switch-view-controller>.item:focus, .switch-view-controller>.item:hover {
    color: #01a4a2 !important;
}
.hotels-page-hotel-list .ui.half-layout .ui.column.map {
    position: fixed !important;
    top: 129px !important;
    left: 15px;
    height: 100%;
    z-index: auto;
}
.ui.column.map #map{
    position: relative;
    overflow: hidden;
}
.hotels-page-hotel-list .room .caption .txt1.hotelName {
    /* white-space: nowrap; */
    /* width: 50px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* height: 60px; */
}
.hotels-page-hotel-list .room figure img {
    position: relative;
    width: 100%;
    height: 190px;
}
.hotels-page-hotel-list .avatar-xs {
    font-size: .75rem;
    width: 32px;
    height: 24px;
}
.page-header-filter {
    position: fixed;
    top: 78px !important;
    border-top: 1px solid #fafafa !important;
    z-index: 10;
}
.page-header-filter .filter-tab-dates-view .fltp input[type=text] {
    margin-top: 0px;
}
.hotel-list-sticky-header .hotel-list-navbar .navbar-nav .nav-link {
    color: rgb(102, 104, 111);
    font-size: 13px;
    font-weight: 500;
}
.sticky-filter.bg-white {
    background: #ffffff;
    border-bottom: 0.01em solid #025b8a;
    box-shadow: 0rem 1rem 2rem 1rem rgba(188, 191, 193, 0.15);
}
 .stk-date-arw {
    position: relative;
    bottom: 0px;
    margin-right: 5rem;
}
.avatar-sm.video-view {
    background-color: rgb(226, 221, 221);
    position: absolute;
    right: 10px;
}
.embed-responsive {
    border-radius: 50% !important;
    height: 100% !important;
    width: 100% !important;
}
.ytp-chrome-controls .ytp-play-button {
    width: 30px !important;
    margin-left: -6px !important;
}
figcaption .avatar-group .avatar {
    border: 2px solid #cec9c9;
}
figcaption .avatar-group .avatar:hover {
    border: 2px solid #ffffff;
}
figcaption .avatar-group .avatar:hover img{
    transform: scale(1.2);
    border: 2px solid #ffffff;
}
/* ======================== only map page css ================================= */
@media only screen and (min-width: 992px) {
    .only-list .switch-view-controller {
        left: 50%;
        background: #025c8b;
    }
}
.only-list {
    background-color: rgba(0, 0, 0, 0.4);
}
.map-list {
    /* position: relative !important;
    top:0px; */
    padding-right:10;
}
.sticky-map {
    position: fixed;
}
/* map hotel data css */
.overlay-map-data {
    position: absolute;
    left: 2%;
    top: 40%;
    z-index: 99;
}
.hotel-data-div {
    width: 310px;
    height: 200px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #ddddde;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.1);
}
.overlay-map-data .card .bg-dark {
    width: 310px;
    height: 200px;
}
.overlay-map-data .card .bg-dark .card-img {
    width: 100%;
    border-radius: calc(.375rem - 1px);
    /* width: 310px; */
    height: 200px;
}
.hotel-data-div .card-img {
    width: 100%;
    border-radius: calc(.375rem - 1px);
    height: 200px !important;
}
.overlay-max-map-data {
    position: absolute;
    left: 28%;
    top: 40%;
    z-index: 99;
}
.dv-star-rating-star.dv-star-rating-full-star {
    font-size: 15px;
}
#hotel-list-page-1 .navbar-horizontal.navbar-transparent {
    position: unset;
}
/* .map-list {
    position: fixed;
    width: 24%;
    height: 100%;
} */
.map-list {
    position: static;
    width: 100%;
    height: 100%;
}
.hotels-page-hotel-list .pagination {
    display: inline-flex;
}
.enduser input[type=text], .enduser textarea, .enduser .card-header h6, .enduser .media-heading a, .eu-font {
    font-family: 'Montserrat', sans-serif;
}
.breadcrumb.eu.eu-font .breadcrumb-item {
    font-family: 'Montserrat', sans-serif;
}
.enduser p {
    font-family: Lato;
    font-weight: 400;
}
.circle-class-compare-add {
    border-radius: 50%;
    padding: 9px !important;
    background-color: transparent !important;
    border: 1px solid grey;
    width: 35px;
    height: 35px;
}
.hotel-names-compare label {
    color: gray;
    font-family: 'Montserrat', sans-serif;
    
}
.add-hotel-to-compare .add-title{
    color: green;
    font-family: 'Montserrat', sans-serif;
}
.enduser input[type=text], .enduser textarea, .enduser .card-header h6, .enduser .media-heading a, .eu-font {
    font-family: 'Montserrat', sans-serif;
}
.breadcrumb.eu.eu-font .breadcrumb-item {
    font-family: 'Montserrat', sans-serif;
}
#hotels-map-view .map-wrapper #map {
    position: relative;
    width: 100%;
    height: 100%;
}

