.bookings .tabs .nav.nav-tabs li.nav-item {
    width: 15%;
    text-align: center;
}
.bookings .tabs .btn-actions .btn {
    padding: .375rem .75rem;
}
.table-action {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #adb5bd;
}
.btn-actions .table-action-view {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #11cdef !important;
}
.btn-actions .table-action-edit {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #30a0a2 !important;
}
.btn-actions .table-action-cancel {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #f6465c !important;
}
.btn-actions .table-action-review {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #e67645 !important;
}
.btn-actions .table-action-book {
    font-size: .875rem;
    margin: 0 .25rem;
    color: #035e8b !important;
}
.btn-actions .table-action-review i.fas.fa-star {
    font-size: 13px;
}
.radio-inline .radio-btn {
    width:20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.card-title-route {
    color: #79797b;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575 !important;
}
.react-calendar__month-view__days__day--weekend {
    color: #d10000 !important;
}
.react-calendar__tile {
    color: #2b3d4d;
}
.react-calendar {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0 auto;
}
.react-calendar__navigation button {
    min-width: 44px;
    color: black;
    background: none;
}
.react-calendar__navigation__label {
    font-size: 12px;
}
.delete-blocked .btn-icon.btn-danger {
    padding: .375rem .75rem;
}